<div id="form-text-search">
    <form class="form-wrapper cf">
        <button type="button" {{on "click" (action "search" )}}>Tìm kiếm</button>
        <input type="text" id="form-search-input" placeholder="Tìm kiếm tại đây">
    </form>
</div>
