<div class="form-controls" style="position: relative">
  <div class="new-posts">
    <ul>

    </ul>
  </div>
  <ul class="vt-dropdown">
    <li>
      {{vt-dropdown
        onChange=(action "test")
      }}
    </li>
    <li>
<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16.4358 0.435791C7.85738 0.435791 0.871582 7.42159 0.871582 16C0.871582 24.5784 7.85738 31.5642 16.4358 31.5642C25.0142 31.5642 32 24.5784 32 16C32 7.42159 25.0142 0.435791 16.4358 0.435791ZM16.4358 29.3925C9.05185 29.3925 3.04333 23.384 3.04333 16C3.04333 8.61606 9.05185 2.60754 16.4358 2.60754C23.8198 2.60754 29.8283 8.61606 29.8283 16C29.8283 23.384 23.8198 29.3925 16.4358 29.3925Z" fill="#A4A4A4"/>
<path d="M16.4358 12.8872C15.8478 12.8872 15.3982 13.3523 15.3982 13.9606V22.19C15.3982 22.7982 15.8478 23.2634 16.4358 23.2634C17.0238 23.2634 17.4734 22.7982 17.4734 22.19V13.9606C17.4734 13.3523 17.0238 12.8872 16.4358 12.8872Z" fill="#A4A4A4"/>
<path d="M16.4358 8.73669C15.5798 8.73669 14.8794 9.43708 14.8794 10.2931C14.8794 11.1491 15.5798 11.8495 16.4358 11.8495C17.2918 11.8495 17.9922 11.1491 17.9922 10.2931C17.9922 9.43708 17.2918 8.73669 16.4358 8.73669Z" fill="#A4A4A4"/>
</svg>

    </li>
  </ul>
  <div class="navagation">
    {{d-button
      id="create-topic-vt"
      action="newPost2"
      label=(theme-prefix 'post.submit')}}
  </div>
</div>

<div id="loading" style="display: none;">
  {{conditional-loading-spinner condition=true}}
</div>
