<div class="navication-control">
  <NavicationSearch></NavicationSearch>
  <ul class="vt-dropdown">
    <li>
      {{vt-dropdown
        onChange=(action "test")
      }}
    </li>

  </ul>
  <div class="navagation">
  </div>
</div>

<div id="loading" style="display: none;">
  {{conditional-loading-spinner condition=true}}
</div>
