<div class="form-controls" style="position: relative">
  <div class="new-posts">
    <ul>

    </ul>
  </div>
  <ul class="vt-dropdown">
    <li>
      {{vt-dropdown
        onChange=(action "test")
      }}
    </li>

  </ul>
  <div class="navagation">
    {{d-button
      id="create-topic-vt"
      action="newPost2"
      label=(theme-prefix 'post.submit')}}
  </div>
</div>

<div id="loading" style="display: none;">
  {{conditional-loading-spinner condition=true}}
</div>
